@use "../../index.scss" as *;

.oddity-section {
  border-top: $main-border;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.oddity-container {
  margin: 4rem;
  width: 80rem;

  grid-template-columns: 1fr 1fr;
  background-color: $main-color;
  border-radius: 1rem;
  box-shadow: -10px -10px 1px rgb(6, 36, 53) inset;
}
.oddity-why {
  font-size: $font-third;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(22) infinite, blink 1s step-end infinite;
  border-right: 1px solid;
  margin: 0;
}
.oddity-adventages {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
}
.oddity-logo-background {
  margin: 2rem;
  img {
    width: 40rem;
    height: 40rem;
  }
}
.oddity-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  img {
    margin: 2rem;
    width: 4rem;
    height: 4rem;
  }
  p {
    margin: 0;
    text-align: justify;
    font-size: 1.3rem;
  }
}
.oddity-extra {
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  margin: 0;
  background-color: $color-gold;
  font-size: $font-p;
  color: black;
}
.oddity-description {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    color: $color-gold;
    margin: 0;
    font-size: 2.3rem;
    text-align: start;
  }
}
