@use "../../../index.scss" as *;
.details-text {
  text-align: start;
  margin: 1rem 4rem;
  font-size: $font-second;
  font-weight: 800;
}
.details-text-1 {
  text-align: start;
  margin: 1rem -0.7rem;
  font-size: $font-second;
  font-weight: 800;
}
hr {
  width: 72rem;
  border: 0.1px solid rgba(255, 255, 255, 0.091);
}
.shop-margin {
  margin: 2rem 0;
}
.details-flex {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 50rem;
  place-self: center;
  grid-template-columns: 1fr 1fr;
}
.details-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    margin-left: 1rem;
  }
  p {
    margin-right: 1rem;
    font-size: $font-p;
  }
  &.active {
    background-color: $background;
  }
  &.default {
    color: rgb(165, 165, 165);
  }
}
.shop-desc {
  width: 80rem;
  p {
    margin: 0rem 4rem;
    font-size: 1.4rem;
    text-align: justify;
  }
}
.shop-review-container {
  margin: 0rem 4rem;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.071);
  .comment {
    margin: 0;
    margin-bottom: 1rem;
  }
}
.shop-review-item {
  display: flex;
  align-items: center;
  .shop-review-item-div {
    margin-right: 1rem;
    margin-top: 0.7rem;
    display: flex;
    background-color: rgba(131, 131, 131, 0.353);
    border: 1px solid rgba(226, 226, 226, 0.329);
    border-radius: 50%;
    padding: 0.9rem 1.6rem;
  }
  img {
    width: 3rem;
    margin: 0;
  }
  .reviewer {
    h2 {
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}
.review-form {
  margin: 0rem 4rem;
  display: flex;
  flex-direction: column;

  input {
    @include form;
    margin-bottom: 0.4rem;
    background-color: $background;

    height: 3rem;
    font-size: 1.4rem;
  }
  label {
    font-size: 1.4rem;
  }
  textarea {
    @include form;
    font-size: 1.4rem;
    background-color: $background;
    height: 6.4rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    resize: none;
  }

  div {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.button-review {
  display: flex;
  justify-content: center;
  button {
    @include button;
    padding: 1rem 2rem;
    background-color: $color-blue;

    &:hover {
      background-color: rgb(20, 53, 113);
    }
  }
}
.shop-square-button {
  &.added {
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 1.7rem;
    border-right: 0.4rem solid $color-blue;
    border-bottom: 0.4rem solid $color-blue;
    &.disabled {
      margin-bottom: 0.6rem;
    }
    &.active {
      margin-top: 0.6rem;
    }
  }
}
