@use "../../../index.scss" as *;

.shop-all-content {
  margin-bottom: 3rem;
}
.shop-container {
  border-radius: 1rem;
  display: flex;
  animation: fade-in 1s;
  background-color: $main-color;
  width: 80rem;

  img {
    border-radius: 1rem;
    height: 21.5rem;
  }
  p {
    margin: 0;
    font-size: 1.1rem;
  }
  h2 {
    margin: 0;
    color: $color-blue;
    font-size: 1.6rem;
  }
  a {
    color: rgb(127, 133, 139);
    font-size: $font-p;
  }
}
.shop-items {
  margin-bottom: 2rem;
  display: flex;
  width: 80rem;
  flex-direction: column;
  justify-content: center;
}
.shop-section {
  display: grid;
  padding: 0 2.4rem;
  grid-template-columns: 1fr 1fr;
}

.item-section-1 {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.item-section-2 {
  margin: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  h2 {
    color: white;
  }
  .item-dolar {
    font-size: 1.6rem;
    color: rgb(20, 220, 20);
  }
}
.shop-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
}
.shop-buttons-center {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    cursor: pointer;
    color: white;
  }

  button {
    @include button;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    background-color: $color-blue;
    &:nth-child(1) {
      background-color: rgb(127, 132, 25);
      &:hover {
        background-color: rgb(161, 167, 50);
      }
    }
    &:hover {
      background-color: rgb(22, 70, 158);
    }
  }

  &.add {
    justify-content: start;
    padding-left: 4.6rem;
  }
}
.shop-item-status {
  &.small {
    color: rgb(253, 67, 67);
  }
}
.shop-rate-stars {
  margin-top: 0.4rem;
  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
