@use "../../../index.scss" as *;

.shop-all-content {
  margin-bottom: 3rem;
}
.shop-container {
  border-radius: 1rem;
  display: flex;
  animation: fade-in 1s;
  background-color: $main-color;
  width: 80rem;

  img {
    border-radius: 1rem;
    height: 21.5rem;
  }
  p {
    margin: 0;
    font-size: 1.1rem;
  }
  h2 {
    margin: 0;
    color: $color-blue;
    font-size: 1.6rem;
  }
  a {
    color: rgb(127, 133, 139);
    font-size: $font-p;
  }
}
.shop-items {
  margin-bottom: 2rem;
  display: flex;
  width: 80rem;
  flex-direction: column;
  justify-content: center;
}
.shop-section {
  display: grid;
  padding: 0 2.4rem;
  grid-template-columns: 1fr 1fr;
}

.item-section-1 {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.item-section-2 {
  margin: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  h2 {
    color: white;
  }
  .item-dolar {
    font-size: 1.6rem;
    color: rgb(20, 220, 20);
  }
}
.shop-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
}
.shop-buttons-center {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    cursor: pointer;
    color: white;
  }
  .shop-button-buy {
    &.active {
      background-color: rgb(32, 132, 25);
      &:hover {
        background-color: rgb(27, 107, 22);
      }
    }

    &.disabled {
      background-color: rgb(78, 79, 80);
      cursor: default;
    }
  }
  button {
    @include button;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    background-color: $color-blue;

    &:hover {
      background-color: rgb(22, 70, 158);
    }
  }

  &.add {
    justify-content: start;
    padding-left: 4.6rem;
  }
}
.shop-item-status {
  &.small {
    color: rgb(253, 67, 67);
  }
}
.shop-rate-stars {
  margin-top: 0.4rem;
  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
@media (max-width: 1150px) {
  .shop-all-content {
    .shop-container {
      .shop-items {
        .shop-section {
          .item-section-1,
          .item-section-2 {
            margin: 1rem 0; // Dostosowanie marginesów dla elementów
            justify-content: center; // Wyrównanie do środka
            text-align: center; // Wyśrodkowanie tekstu w sekcji

            h2 {
              font-size: 2rem;
              line-height: 2rem;
              margin: 1rem 0;
            }
            .item-dolar {
              font-size: 2rem;
            }
            span {
              p {
                text-align: center;
              }
            }
            div {
              .shop-rate-stars {
                div {
                  display: flex;
                  flex-direction: row;

                  img {
                    width: 4rem;
                    height: 4rem;
                  }
                }
                a {
                  margin-top: 1rem;
                }
              }
            }
            .shop-rate-stars {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .shop-buttons {
          display: flex;
          flex-direction: column;
          .shop-buttons-center {
            padding: 0;
            justify-content: center;
            margin-bottom: 2rem;
            button {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
