@use "../../index.scss" as *;

.author-section {
  padding-top: 6rem;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56rem;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .author-article {
    animation: fade-in 1s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    width: 70rem;
    height: 30rem;
    background-color: $main-color;
    backdrop-filter: blur(0.4rem);

    .author-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        display: inline-block;
        font-size: 1.6rem;
        margin: 0;
      }

      h1 {
        text-align: center;
        animation: scale 2s infinite;
        font-weight: 800;
        margin: 0;
        font-size: 6rem;
        line-height: 0.7;

        a {
          color: $color-blue;
        }
      }
    }
    .author-btns {
      margin: 0.7rem 0;
    }
    .author-desc {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        margin: 0;
        font-size: $font-second;
      }
      p {
        text-align: justify;
        margin-top: 0;
        margin-right: 2rem;
        font-size: $font-p;
        a {
          color: $color-blue;
        }
      }
      .author-button-shop {
        @include button;
        background-color: $color-blue;
        padding: 0.8rem 1.7rem;
        border: 2px solid transparent;
        &:hover {
          border: 2px solid $color-blue;
          background-color: rgb(20, 53, 113);
        }
      }
      .author-button-about {
        @include button;
        padding: 1rem 1.4rem;
        background-color: transparent;
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}

@keyframes scale {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media (max-width: 1150px) {
  .author-section {
    width: 100%;

    .author-article {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem;
      height: max-content;
      .author-title {
        margin-top: 2rem;
        h1 {
          font-size: 4rem;
          margin: 0 2rem;
        }
      }
      .author-desc {
        p {
          margin-right: 0;
        }
        .author-btns {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .author-button-about {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
