@use "../../index.scss" as *;

.show-modal {
  position: fixed;
  transition: 0.3s ease;
  z-index: 80;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  background-color: #28323d;
  border: none;
  border-radius: 8px;
  box-shadow: -10px -10px 1px rgb(23, 35, 41) inset;
  opacity: 0;
  visibility: hidden;

  &.active {
    animation: active 0.5s forwards;
    opacity: 0;
    visibility: visible;
    z-index: 90;
  }
  &.disabled {
    animation: disabled 0.5s backwards;
    opacity: 0;
    visibility: hidden;
    z-index: 90;
  }
}

@keyframes active {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disabled {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

.dialog-nav {
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;

  h2 {
    font-size: 2rem;
  }
}
.dialog-content {
  padding: 0 3rem;

  p {
    font-size: 1.4rem;
    text-align: justify;
  }
}
.modal-x {
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.3);
    color: $color-blue;
  }
}
