@use "../../index.scss" as *;

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: $font-second;
  color: $color-blue;
}
.contact-container {
  animation: fade-in 1s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80rem;
}
.contact-center {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .contact-btn {
    @include button;
    padding: 0.6rem 1rem;
    background-color: $color-blue;
    &:hover {
      background-color: rgb(20, 53, 113);
    }
  }
  p {
    font-size: $font-p;
  }
}
.contact-grid {
  p {
    font-size: 1.4rem;
    margin: 0.6rem 0;
  }
}
.contact-information {
  display: flex;
  align-items: center;
  img {
    width: 2rem;
    height: 2rem;
  }
  p {
    font-size: 1rem;
    margin: 0 1rem;
  }
  a {
    font-weight: 800;
    color: red;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;

  input {
    @include form;
    height: 2rem;
    margin-bottom: 1rem;
  }
  textarea {
    @include form;
    resize: vertical;
    padding: 1rem;
    height: 4rem;
  }
}
@media (max-width: 1150px) {
  .contact-p {
    text-align: center;
  }
  .contact-container {
    display: flex;
    width: 100%;
    flex-direction: column;

    .contact-grid {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      align-items: center;

      span {
        p {
          text-align: center;
          margin: 2rem;
          margin-bottom: 0;
        }
        .contact-information {
          flex-direction: column;
          img {
            width: 6rem;
            height: 6rem;
          }
          p {
            margin-top: 0;
          }
        }
      }
    }
  }
  .mobile-form {
    width: 100%;
    display: flex;
    justify-content: center;

    .contact-form {
      width: 90%;
      justify-content: center;
      align-items: center;

      textarea,
      .contact-center,
      .contact-l {
        width: 90%;
        padding: 0;
      }

      input,
      label {
        width: 100%;
        padding: 0;
      }
    }
  }
}
