@use "../../index.scss" as *;
header {
  background-color: $main-color;
  display: flex;
  position: fixed;
  top: 0rem;
  width: 100vw;
  justify-content: center;
}
.header-nav {
  display: flex;
}
.header-section {
  display: flex;
  width: 80rem;
  justify-content: space-between;
  img {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin: 1rem 0;
  }

  nav {
    padding: 0;
    display: flex;
    align-items: center;

    .header-link {
      text-decoration: none;
      color: white;
      display: flex;
      margin: 0 2rem;
      font-size: 1.4rem;
      transition: 0.3s ease;
      cursor: pointer;

      &:hover {
        color: $color-blue;
      }
      &.active {
        color: rgb(37, 99, 215);
        transform: scale(0.9);
      }
    }
  }
}
