@use "../../../index.scss" as *;

.shop-searchbox {
  animation: fade-in 1s;
  padding-bottom: 1rem;
  width: 80rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  input {
    font-size: $font-p;
    @include form;
    background-color: $main-color;
    height: 3rem;
    width: 40rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border: 2px solid white;
  }
  select {
    @include form;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border: 2px solid white;
    width: 10rem;
    font-size: 1rem;
  }
  .shop-invention-button-add {
    @include button;
    margin: 0 2rem;
    padding: 0.4rem 3rem;
    font-size: 1.3rem;

    &.active {
      background-color: $color-blue;

      &:hover {
        background-color: rgb(22, 70, 158);
      }
    }
    &.disabled {
      background-color: rgb(78, 79, 80);
      cursor: default;
    }
  }
}
