@use "../../index.scss" as *;
.login-container {
  animation: fade-in 1s;
  width: 80rem;
  box-shadow: -10px -10px 1px rgb(6, 36, 53) inset;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: $main-color;
  img {
    animation: rotate 2s;
    transform: scale(0.8) rotateY(180deg) rotateZ(90deg);
    width: 12rem;
    height: 12rem;
  }
}

.login-img {
  margin: 2rem;
  box-shadow: -10px -10px 1px rgb(1, 12, 18) inset;
  border-radius: 50%;
  padding: 3rem;
  background-color: $background;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  .red-login {
    color: rgb(229, 39, 39);
  }
  p {
    color: white;
    margin: 0;
  }
  button {
    background-color: $color-blue;
    padding: 0.7rem 2rem;
    margin-left: 2rem;
    @include button;
    &:hover {
      background-color: rgb(20, 53, 113);
    }
  }
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: $font-second;
    margin: 0 0 1rem 0;
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      @include form;
      background-color: $background;
      margin-bottom: 1rem;
      height: 3rem;
      width: 27rem;
    }
  }
}
@media (max-width: 1150px) {
  .login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
    .login-img {
      img {
        width: 4rem;
        height: 4rem;
      }
    }
    .login-section {
      margin-bottom: 2rem;

      h2 {
        line-height: 2rem;

        text-align: center;
      }
      form {
        width: 100%;

        input {
          width: 90%;
        }
      }
    }
    .login-section {
      width: 90%;
    }
  }
}
