$main-color: rgba(40, 50, 61, 0.869);
$shop-main-color: rgb(40, 50, 61);
$main-border: 4px solid rgb(41, 41, 41);
$color-blue: rgb(37, 99, 215);
$background: #18181f;
$font-second: 2rem;
$font-footer: 1.7rem;
$font-third: 3.5rem;
$font-main: 5rem;
$font-p: 1.1rem;
$color-gold: rgb(231, 238, 19);
@mixin button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-family: "Pixelify Sans", sans-serif;
  border-radius: 0.5rem;
  border: none;
  transition: 0.3s ease;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 67%;
  }
}
@keyframes show-details {
  0% {
    opacity: 0;
    transform: translateY(-5%) translate(14%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) translate(14%);
  }
}

@keyframes close-details {
  0% {
    opacity: 1;
    transform: translateY(0%) translate(14%);
  }
  100% {
    opacity: 0;
    transform: translateY(-5%) translate(14%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fade-inn {
  0% {
    opacity: 0;
    transform: translateY(-1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: scale(0.8) rotateY(180deg) rotateZ(90deg);
  }
}
@mixin form {
  font-family: "Pixelify Sans", sans-serif;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: $main-color;
}
.container {
  display: flex;
  width: 80rem;
  h2 {
    font-size: $font-second;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $background;
  --blur-intensity: 1.6rem;
}
.root {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  pointer-events: all;
  filter: blur(0rem);
  &.active {
    animation-name: blur-in;
    pointer-events: none;
  }
  &.disabled {
    animation-name: blur-out;
  }
}

@keyframes blur-in {
  0% {
    filter: blur(0rem);
  }
  100% {
    filter: blur(var(--blur-intensity));
  }
}

@keyframes blur-out {
  0% {
    filter: blur(var(--blur-intensity));
  }
  100% {
    filter: blur(0rem);
  }
}
@keyframes slowGif {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

.shop-square-button {
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 1rem;
  border-right: 0.2rem solid $color-blue;
  border-bottom: 0.2rem solid $color-blue;
  transition: 0.3s ease;
  &.disabled {
    transform: rotateZ(45deg);
  }

  &.active {
    transform: rotateZ(-135deg);
    margin-top: 0.6rem;
  }
}
